<section class="container bg-white mt-4 p-4 mb-4 rounded listado">
  <div class="filtros">
    <!-- <button class="btn btn-dark" id="todos" (click)="setFilter('todos')">Todos</button> -->
    <button class="btn btn-dark" id="activos" (click)="setFilterActivos()">Activos</button>
    <button class="btn btn-dark" id="inactivos" (click)="setFilterInactivos()">Inactivos</button>
  </div>

  <div *ngFor="let item of puntos">
    <div class="card mt-2 mb-2 p-2" *ngIf="item.activo == filtroSeteado">
      <div class="card-actions">
        <div class="card-name">
          {{ item.nombre }}
        </div>
        <button class="btn btn-info" (click)="update(item)"><i class="fa fa-pen"></i></button>
        <button class="btn btn-danger" (click)="delete(item)"><i class="fa fa-trash"></i></button>
      </div>
    </div>
  </div>

  <div class="card mt-2 mb-2 p-2 loading-puntos" *ngIf="!puntos">
    <div class="spinner-border text-primary mt-1 mb-1" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</section>
