<div class="container mt-4">
  <button class="btn btn-info " (click)="toggleShow()">
    <div *ngIf="showInformesAlta">Ver informes</div>
    <div *ngIf="!showInformesAlta">Alta de informe</div>
  </button>
</div>

<div class="container bg-white mt-4 p-4 mb-4 rounded" *ngIf="showInformesAlta">
  <div [formGroup]="formGroup">
    <div class="row">
      <div class="col-md-12 text-center"><h4>Carga de informe de actividad</h4></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="my-select">Punto</label>
          <select
            ngbTooltip="Seleccione punto a informar"
            id="my-select"
            class="form-control"
            formControlName="punto"
            (change)="onChangePunto()"
          >
            <option *ngFor="let op of puntos" [ngValue]="op">{{ op.nombre }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="my-select">Horario</label>
          <select
            ngbTooltip="Horarios establecidos en ese punto"
            id="my-select"
            class="form-control"
            formControlName="horario"
          >
            <option *ngFor="let op of horarios" [ngValue]="op">{{ op.turno }} - {{ op.horarioInicio }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label for="fecha">Fecha</label>
          <input
            ngbTooltip="Asegurese de que sea un turno existente"
            type="date"
            class="form-control"
            [class]="isValidField('fecha')"
            id="fecha"
            formControlName="fecha"
          />
          <span *ngIf="debeMostrarError('fecha')" class="invalid-feedback">
            {{ obtenerTextoError('fecha') }}
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="">Publicaciones</label>
          <input
            formControlName="publicaciones"
            placeholder="Publicaciones"
            class="form-control"
            type="number"
            [class]="isValidField('fecha')"
          />
          <span *ngIf="debeMostrarError('publicaciones')" class="invalid-feedback">
            {{ obtenerTextoError('publicaciones') }}
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="">Videos</label>
          <input
            formControlName="videos"
            placeholder="Videos"
            class="form-control"
            type="number"
            [class]="isValidField('fecha')"
          />
          <span *ngIf="debeMostrarError('videos')" class="invalid-feedback">
            {{ obtenerTextoError('videos') }}
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center mt-4">
        <button type="submit" class="btn btn-primary btn-block" (click)="saveInforme()">
          <div *ngIf="!loading">Guardar</div>
          <div *ngIf="loading" class="spinner-border btn-block text-dark" role="status"></div>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container bg-white mt-4 p-4 mb-4 rounded" *ngIf="!showInformesAlta">
    <div class="row">
        <div class="col-md-12 text-center"><h4>Listado de informes de actividad</h4></div>
      </div>
  <article class="card text-center mt-3" *ngFor="let inf of informes">
   Punto: {{ inf.turno.punto.nombre }} 
   Publicaciones:  {{ inf.publicaciones }}
   Videos: {{ inf.videos }}
  </article>
</div>
