.table-actions {
    button {
      margin: 2px;
    }
  }
  
  .rounded {
    border-radius: 20px !important;
    box-shadow: 1px 1px 15px #8f8c8c;
  }
  .spinner-border {
    font-size: 30px;
    height: 80px;
    width: 80px;
  }
  
  .loading {
    display: flex;
    justify-content: center;
  }

  .loading-turnos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .text-right{
    font-size: 1.1em;
  }
  
  @media screen and (max-width: 541px) {
    .table-actions-responsive {
      visibility: hidden;
      display: none;
    }
  }

  @media screen and (max-width: 890px) {
    #formAlta {
      visibility: hidden;
      display: none;
    }
  }

  @media screen and (min-width: 890px) {
    #formAlta-warning {
      visibility: hidden;
      display: none;
    }
  }
  
  
