<div class="container bg-white mt-4 p-4 mb-4 rounded table-desktop">
  <h4 align="center">Hermanos</h4>

  <input
    [(ngModel)]="searchParam"
    (ngModelChange)="hacerBusqueda()"
    type="text"
    placeholder="Buscador inteligente..."
    class="form-control mb-2"
  />

  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Congregacion</th>
        <th>Edad</th>
        <th>Disponibilidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="hermanos">
      <tr *ngFor="let uno of hermanos">
        <td>{{ uno.nombre }}</td>
        <td>{{ uno.apellido }}</td>
        <td>{{ uno.congregacion }}</td>
        <td>{{ uno.edad }}</td>
        <td>
          <button class="btn btn-info" (click)="showDisponibilidad(uno)"><i class="fa fa-calendar"></i></button>
        </td>
        <td>
          <div class="table-actions">
            <button class="btn btn-info"  (click)="goToEditHermano(uno)"><i class="fa fa-pen"></i></button>

            <button class="btn btn-danger" (click)="delete(uno)"><i class="fa fa-trash"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!hermanos" class="loading">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
</div>

<div class="cards-mobile">
  <div class="container bg-white mt-4 p-4 mb-4 rounded listado">
    <h4 align="center">Hermanos</h4>

    <input
      [(ngModel)]="searchParam"
      (ngModelChange)="hacerBusqueda()"
      type="text"
      placeholder="Buscador inteligente..."
      class="form-control mb-2"
    />

    <div class="row justify-content-center">
      <div class="col-12" *ngFor="let card of hermanos">
        <div class="card mt-2 mb-2 p-2">
          <div class="card-actions">
            <div class="card-name">
              {{ card.nombre }}
              {{ card.apellido }}
            </div>
            <button class="btn btn-info" (click)="showDisponibilidad(card)"><i class="fa fa-calendar"></i></button>
            <button class="btn btn-info" (click)="goToEditHermano(card)"><i class="fa fa-pen"></i></button>
            <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>

      <div class="card mt-2 mb-2 p-2 loading-puntos" *ngIf="!hermanos">
        <div class="spinner-border text-primary mt-1 mb-1" role="status"></div>
      </div>
    </div>
  </div>
</div>


<ng-template #disponibilidadModal let-modal>
  <div class="modal-body">
    <div class="btn-exit">
      <i (click)="modal.dismiss('Cross click')" class="btn btn-white"><i class="fas fa-times"></i> </i>
    </div>
    <div class="header-modal">
      <h5 class="modal-title" i18n="modal.title">{{ hermanoSeleccionado }}</h5>
    </div>

    <div class="disponibilidad-modal">
      <met-admin-hermanos-modal-disponibilidad  [disponibilidadShow]="disponibilidadShow"></met-admin-hermanos-modal-disponibilidad>
    </div>
  </div>
</ng-template>
