<div class="container bg-white mt-4 p-4 mb-4 rounded">
  <h2 align="center">Hermanos</h2>

  <input
    [(ngModel)]="searchParam"
    (ngModelChange)="hacerBusqueda()"
    type="text"
    placeholder="Buscador inteligente..."
    class="form-control mb-2"
  />

  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Congregacion</th>
        <th>Edad</th>
        <th>Disponibilidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="hermanos">
      <tr *ngFor="let uno of hermanos">
        <td>{{ uno.nombre }}</td>
        <td>{{ uno.apellido }}</td>
        <td>{{ uno.congregacion }}</td>
        <td>{{ uno.edad }}</td>
        <td>  <button class="btn btn-info"><i class="fa fa-calendar"></i></button></td>
        <td>
          <div class="table-actions">
            <button class="btn btn-info" (click)="update(uno)"><i class="fa fa-pen"></i></button>

            <button class="btn btn-danger" (click)="delete(uno)"><i class="fa fa-trash"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!hermanos" class="loading">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
</div>
