<section>
  <div class="container bg-white mt-4 p-4 mb-4 rounded m-4">
    <h3>Bienvenido hoy es: {{ hoy }}</h3>

    <h3 class="m-4">Turnos de hoy:</h3>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">- Estación nn</h4>
        <p class="card-text">
          <span class="badge badge-primary">Hermano 1</span>
        Pedro Peréz
        </p>
        <p>
          <span class="badge badge-primary">Hermano 1</span>
          Juan Peréz
        </p>
      </div>
    </div>


    <div class="card mt-3">
        <div class="card-body">
          <h4 class="card-title">- Estación nn</h4>
          <p class="card-text">
            <span class="badge badge-primary">Hermano 1</span>
            Fernando Torres
          </p>
          <p>
            <span class="badge badge-primary">Hermano 1</span>
            Juan Peréz
          </p>
        </div>
      </div>

  </div>
</section>
