<section>
  <div class="container rounded  mt-4 mb-4 rounded">
    <h4>Bienvenido hoy es: {{diaString | titlecase}} {{ hoy }}</h4>

    <h4 class="m-4">Turnos de hoy:</h4>

    <div class="card mt-2" *ngFor="let turno of turnos">
      <div class="card-body">
        <h4 class="card-title">- {{ turno.punto.nombre }}</h4>
        <h5 class="card-title">
          - Desde {{ turno.horario.horario.horarioInicio }}, hasta {{ turno.horario.horario.horarioFin }}
        </h5>
        Hermanos:
        <p class="card-text ml-3" *ngFor="let h of turno.hermanos">
          <span class="badge badge-primary">{{ h.nombre }} {{ h.apellido }}</span>
        </p>
      </div>
    </div>

    <div class="card" *ngIf="!loading &&  turnos.length == 0">
      <div class="card-body">
        <h4 class="card-title">No hay turnos para el dia de hoy</h4>
      </div>
    </div>

    <div class="card" *ngIf="loading">
      <div class="card-body text-center">
        <div class="spinner-border text-primary" role="status">

        </div>
      </div>
    </div>
  </div>
</section>
