<div *ngIf="showTable">
  <table class="table">
    <thead>
      <tr>
        <th>Horario</th>
        <th>Punto</th>
        <th>Hermanos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ turno.horario.dia | titlecase }} - {{ turno.horario.horario.horarioInicio }} -
          {{ turno.horario.horario.horarioFin }}
        </td>
        <td>{{ turno.punto.nombre }}</td>
        <td>
          <div *ngFor="let h of turno.hermanos">
            <li>{{ h.nombre }}</li>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <h5 class="text-center mt-4 text-warning">Verifique si los datos son correctos</h5>
  <div class="row">
    <div class="col-md-12 text-center mt-4">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="" (click)="publicarTurno()">
        <div *ngIf="!loading">Guardar</div>
        <div *ngIf="loading" class="spinner-border btn-block text-dark" role="status"></div>
      </button>
    </div>
  </div>
</div>

<h2 *ngIf="!showTable">
  <div class="text-center mt-4">¡Falta seleccionar algun dato!</div>
</h2>
