.rounded {
  border-radius: 20px !important;
  box-shadow: 1px 1px 15px #8f8c8c;
}

.filtros {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.selected {
  background-color: rgb(16, 96, 186);
  border-color: rgb(16, 96, 186);
}

.listado {
  max-width: 400px;

  font-weight: 500;

  .card {
    box-shadow: 1px 1px 3px #8f8c8c;
  }

  .card-horarios:hover{
    background-color: #129fb4;
    cursor: pointer;
  }

  .info {
    background-color: #129fb4;
    border-color: black;
  }
  
  .danger {
    background-color: #ef354a;
  }
  
  button {
    color: rgb(0, 0, 0);
    margin: 2px;
    height: 40px;
    width: 40px;
  }
  
  .btn:focus,
  .btn.focus {
    box-shadow: none !important;
  }


  .dias {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .card-selected{
    background-color: #129fb4;
    border-color: black;
  }

  .card-actions {
    text-align: end;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      color: white;
      margin: 2px;
      height: 40px;
      width: 40px;
    }
  }

  .card-name {
    margin-top: 6.5px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.loading-puntos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.filtros{
  font-size: 1.4em;
}

@media screen and (min-width: 490px){
  .datepicker-container{
    margin-left: 60px;
  }
}
