<section class="container bg-white mt-4 p-4 mb-4 rounded listado">
  <div class="filtros">Horarios</div>

  <div class="datepicker-container" *ngIf="vista == 'grilla'">
    
    <ngb-datepicker (ngModelChange)="onDateChange($event)" class="custom-datepicker" #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
 
  </div>
  <div class="container text-center mb-3 mt-3" *ngIf="vista == 'grilla'">
    <label class="form-check-label">
      Turno fijo
      <input [(ngModel)]="turnoFijo" type="checkbox" class="form-control" name="" id="" value="checkedValue">
    </label>
  </div>

  <div *ngFor="let item of horarios">
    <div class="card mt-2 mb-2 p-2" *ngIf="vista !== 'grilla'">
      <div class="card-actions">
        <div class="card-name">{{ item.horarioInicio }} - {{ item.horarioFin }}</div>
        <button class="btn btn-info" (click)="updateHorario(item)"><em class="fa fa-pen"></em></button>
        <button class="btn btn-danger" (click)="delete(item)"><em class="fa fa-trash"></em></button>
      </div>
    </div>

    <div class="card card-horarios mt-2 mb-2 p-2" [id]="item.id" *ngIf="vista == 'grilla'" (click)="seleccionar(item)">
      <div class="card-actions">
        <div class="card-name">{{ item.horarioInicio }} - {{ item.horarioFin }}</div>
      </div>
    </div>
  </div>

  <div class="card mt-2 mb-2 p-2 loading-puntos" *ngIf="!horarios">
    <div class="spinner-border text-primary mt-1 mb-1" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</section>
