<div class="container bg-white mt-4 p-4 mb-4 rounded">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-info"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          ngbTooltip="Mes anterior"
        >
          Anterior
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">Hoy</div>
        <div
          class="btn btn-info"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          ngbTooltip="Mes siguiente"
        >
          Siguiente
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate: view + 'ViewTitle':locale | titlecase }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-info" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
          Mes
        </div>
        <div class="btn btn-info" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
          Semana
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="mt-2 mb-2 p-2 loading-turnos" *ngIf="!loaded">
    <div class="spinner-border text-primary mt-1 mb-1" role="status"></div>
  </div>
  <div [ngSwitch]="view" *ngIf="loaded">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [weekStartsOn]="startOn"
      [weekendDays]="weekendDays"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      [locale]="locale"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      [locale]="locale"
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [weekStartsOn]="startOn"
      [weekendDays]="weekendDays"
      [dayStartHour]="8"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
  </div>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">
      {{ turnoFormateado.horario.dia.day }}/{{ turnoFormateado.horario.dia.month }} - {{ modalData?.event.title }}
    </h5>
    <button type="button" class="close" (click)="delete(turnoFormateado.id)">
      <span aria-hidden="true" class="text-danger"> <i ngbTooltip="Eliminar Turno" class="fa fa-trash"></i></span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div>
      Punto:
      {{ turnoFormateado.punto.nombre }}
      <br />
      De {{ turnoFormateado.horario.horario.horarioInicio }}, hasta
      {{ turnoFormateado.horario.horario.horarioFin }}

      <br />
      Hermanos:
      <div *ngFor="let h of turnoFormateado.hermanos">{{ h.nombre }} {{ h.apellido }}</div>
    </div>

    <hr *ngIf="turnoFormateado.past" />
    
    <section class="mt-2 col-6 center" *ngIf="turnoFormateado.past && !informeCargado">
      <form [formGroup]="formInforme">
        <label for="">Publicaciones</label>
        <input formControlName="publicaciones" placeholder="Publicaciones" class="form-control" type="number" />
        <label for="">Videos</label>
        <input formControlName="videos" placeholder="Videos" class="form-control" type="number" />
        <div class="mt-2">
          <button class="btn btn-success" (click)="saveInforme()" [disabled]="formInforme.invalid" *ngIf="!loading">
            Guardar
          </button>
          <button class="btn btn-success" (click)="saveInforme()" disabled *ngIf="loading">
            <div class="spinner-grow text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </form>
    </section>

    <section *ngIf="informeCargado">
      <div class="text-center">
        <h4>Publicaciones: {{informeCargado.publicaciones}}</h4>
        <h4>Videos: {{informeCargado.videos}}</h4>
      </div>
      <button type="button" class="btn btn-secondary" (click)="editInforme()">Editar</button>
    </section>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>
