<met-admin-navbar></met-admin-navbar>

<div class="row" style="width: 100%">
  <div class="col-2">
    <met-admin-sidebar (changeSection)="handleSection()"></met-admin-sidebar>
  </div>

  <div class="col" [ngSwitch]="section">
    <met-admin-dashboard *ngSwitchCase="'admin-dashboard'"></met-admin-dashboard>
    <met-admin-hermanos *ngSwitchCase="'admin-hermanos'"></met-admin-hermanos>
    <met-admin-horarios *ngSwitchCase="'admin-horarios'"></met-admin-horarios>
    <met-admin-puntos *ngSwitchCase="'admin-puntos'"></met-admin-puntos>
    <met-admin-grilla *ngSwitchCase="'admin-grilla'"></met-admin-grilla>
    <div *ngSwitchDefault="" style="display: flex; justify-content: center; align-items: center; height: 90vh">
      <h3><- Bienvenido, seleccione una opcion del menu</h3>
    </div>
  </div>
</div>
